html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

.header {
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 40px;
}

.map {
    background-color: #eee;
    position: absolute;
    right: 400px;
    left: 0;
    bottom: 0;
    top: 40px;
}

.sidebar {
    overflow-y: auto; /* This line allows the sidebar to scroll when there is
                         a lot of content in it */
    background-color: #ccc;
    position: absolute;
    right: 0;
    width: 400px;
    bottom: 0;
    top: 40px;
}
